{% load static %}

<head>
    <title>Klicka Recruitment &mdash; Find Your Job</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <link rel="icon" type="image/png" href="{% static 'images/favicon.png' %}" />
    <link rel="stylesheet" href="{% static 'css/custom-bs.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery.fancybox.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-select.min.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/icomoon/style.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/line-icons/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-datepicker.css' %}">
    
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" >
    <link rel="stylesheet" href="{% static 'assets_portal/vendor/bootstrap-icons/bootstrap-icons.css' %} ">
    <link rel="stylesheet" href="{% static 'assets_portal/vendor/glightbox/css/glightbox.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets_portal/vendor/remixicon/remixicon.css' %}">
    <link  href="{%static 'assets_portal/vendor/swiper/swiper-bundle.min.css' %}">

    
    <!-- MAIN CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets_portal/css/style.css' %}">
</head>